services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres-dev
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: database
    ports:
      - "5432:5432"
    volumes:
      - postgres-dev-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user"]
      interval: 5s
      timeout: 5s
      retries: 5

  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: notification-service-api
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      - ENV_FOR_DYNACONF=development
    depends_on:
      postgres:
        condition: service_healthy
    tty: true
    stdin_open: true
    restart: always

volumes:
  postgres-dev-data:
